

  .link-btn .theme-btn {
    display: inline-flex;  /* Aligns text center using flexbox */
    justify-content: center;
    align-items: center;
    width: 50px; /* Fixed width to ensure circular shape */
    height: 50px; /* Fixed height to ensure circular shape */
    border-radius: 50%; /* Creates the circular shape */
    background-color: #ff3300; /* Default background color */
    color: white; /* Text color */
    text-align: center; /* Centers text horizontally */
    text-decoration: none; /* Removes underline from text */
    font-size: 16px; /* Sets font size */
    font-weight: bold; /* Makes text bold */
    border: none; /* Removes border */
    cursor: pointer; /* Changes cursor to pointer on hover */
    transition: background-color 0.3s ease; /* Smooth transition effect for background color */
  }
  
  .link-btn .theme-btn:hover {
    background-color: #0056b3; /* Changes background color on hover */
  }
  



  body {
  
    font-family: 'Fira Code', monospace !important ;
}




  .collapse{
   position: relative;
  }
  
  .collapse::before {
    content: ""; 
    position: absolute; 
    right: -40px; 
    top: 35%; 
    height: 30%; 
    width: 2px; 
    background-color: rgb(224, 217, 217); 
    z-index: 1; /* Optional: Ensures line appears above other elements if needed */
  }
  